<div class="jumbotron"
	<center>
		<h1>Welcome to AC's Pizza!</h1>

		<img src="http://www.thickslicepizza.com/img/photo3.jpg">
		<br>

		<%= link_to "Check out our Pizzas!", pizzas_path, class: "btn btn-default" %>
	</center>
</div>
